<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titre}}</title>

    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <script type="module" src="/js/accept-cookie.js"></script>
    {{#each styles}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
    {{#each scripts}}
    <script type="module" src="{{this}}"></script>
    {{/each}}
</head>

<body>
    {{>header}}
    <main id="main">
        {{#if user}}
        <div id="nomstyle">
            Bonjour: {{user.nom}} {{user.prenom}}
        </div>

        {{/if}}
        {{#unless accept}}
        <div id="message-cookie">
            Ce site web utilise des cookies. Si vous naviguez sur ce site web, vous acceptez l'utilisation des cookies.
            <input type="button" value="Accepter" id="button-cookie">
        </div>
        {{/unless}}
        <div id="wrapper">
            {{{body}}}
        </div>

    </main>
    <footer>
        <span>Centre de formation informatique</span>
        <span>Developpé par Amir Eddine Ahmed | Othmane | Riad |Zahia</span>
    </footer>

</body>

</html>